
body {
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
}

.btn.btn-flat {
  background-color: transparent;
  box-shadow: none;
}

.landing {
  margin: 30px auto;
}

.iphone {
  max-width: 80%;
}
.input-box {
  margin-top: 40px;
}
.boton-box {
  margin-top: 20px;
}
.site-footer {
  text-transform: uppercase;
  font-size: 12px;
}

.loader-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  margin-top: 30px;
}
.signup-box {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  padding: 10px 0;
  text-align: center;
}


.signup-form {
  width: 65%;
  margin: 0 auto;
}

.signup-form h2 {
  color: #a5a7aa;
  font-size: 1.2em;
}

.signup-form .btn.btn-fb {
  background-color: #4090db;
  font-size: .8em;
}

.signup-form .btn.btn-fb:hover {
  background-color: #2d6599;
}

.signup-form .btn.btn-signup {
  background-color: ;
}

.header {
  background-color: white;
  color: ;
  box-shadow: none;
  border-bottom: 1px solid #edeeee;
}

.timeline {
  padding: 30px 0;
}


.avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 30px;
}

.md-avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 20px;
  margin-top: 20px;
}

.fa-heart-o {
  color: $secondary-color;
}

.fa-heart {
  color: $platzigram-red;
}

.heart {
  display: none;
}


.user-page {
  margin-top: 30px;
}


.like-heart {
  font-size: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  transition: all .1s ease;
  opacity: 0;
}

.like-heart.liked {
  color: green;
  font-size: 12em;
  display: block;
  transition: all .5s ease;
  opacity: 1;
}

.sig_subt {
  font-size: 50px;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  
}

.btn_icon {
  margin: 10px;
  color: white !important;
}

.btn_icon_g {
  color: white !important;
  background-color: #db4437 !important;
}

.btn_icon_g:hover {
  background-color: darkred !important;
}

.ini_name {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
}

.amateapp_logo {
  background-image: url("/logo.png");
  margin-left: 70px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 250px;
	height: 100px;
}

.experiencia {
  text-decoration: none;
  font-size: 25px;
  margin-bottom: 10px;
}

.jaguar {
  width: 300px;
}

.hogar {
  max-width: 100%;
}

.toolbar {
  
  border-bottom: 1px gray solid;
  height: 70px;
  overflow: hidden;
}

.apple_icon{
  width: 50px;
  margin: 0px;
}

.titulo_mdtoolbar {
  margin-left: 18px;
}

.icon_mdtoolbar {
  margin-top: 16px;
}

.titulo_resultado {
  margin-left: 16px;
}

.label {
  margin-top: 60px;
  margin-left: 16px;
  height: 40px;
}

.footer {
  border-top: 0.2px solid lightseagreen;
  margin-top: 20px;
  color: rebeccapurple;
}

.boton-fixed {
  top: auto;
right: 20px;
bottom: 60px;
left: auto;
position: fixed;
}

.footer-fixed {
position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:white;



}