<h2>Resultado ::</h2>
<div>
	<div ng-controller="calculoController" >
		<h3>Gracias {{article.firstName}}</h3>
		<h3>pruebas:: </h3>
		
		<h3>total {{total2()}}</h3>
		<form name="calculoForm">
			<label>Debes Sembrar {{total()}} árboles este año.</label>
			<div layout="row">
				<div>
					<p><md-checkbox ng-model="article.totalTrees"  aria-label="{{total()}}"  ng-true-value="{{total()}}" required md-no-asterisk></md-checkbox>estoy de acuerdo</p>
				</div>
			</div>
		</form>
		<md-button class="md-primary md-hue-1" ng-disabled="calculoForm.$invalid" ng-click="addArbol()">Continuar</md-button>
<button ng-click="checkout();">Checkout</button>
<md-button class="md-primary md-raised" ng-click="showAdvanced($event)"   >
      Alert Dialog
	</div>
</div>