<section ng-controller="calculoController" >
<div>
  <toolbar></toolbar>
</div>
<h2>Resultado ::</h2>
<div>
	<div  >
		<h3>Gracias {{article.firstName}}</h3>
		<div ng-if="status" id="status">
			<b layout="row" layout-align="center center" class="md-padding">
				{{status}}
			</b>
  	</div>
		
		<h3>total {{total2()}}</h3>
		<form name="calculoForm">
			<label>Debes Sembrar {{total()}} árboles este año.</label>
			<div layout="row">
				<div>
					
				</div>
			</div>
		</form>
		

<md-button class="md-primary md-raised" ng-click="showAdvanced($event)">
      Guardar Información
	</div>
</div>
</section>