<toolbar></toolbar>
<div ng-controller="ExampleController" class="content-padding" layout="row" layout-align="center center">
    <div>
    <div layout="column">
        <section layout="row">
        <img class="avatar" src="{{authentication.user.providerData.picture}}" alt="">
        <h2 class="ini_name"> <span ng-bind="authentication.user.firstName"></span></h2>
        </section>
        <span class="experiencia"><a href="/#!/articles/edit/{{authentication.user._id}}">Inicia tu Experiencia</a></span>
    </div>
    <span>Este año debes sembrar:
        <h2><i class="fa fa-pagelines" aria-hidden="true"></i> {{authentication.user.totalTrees}} Árboles</h2>
        <h3><i class="fa fa-pagelines" aria-hidden="true"></i> Árboles Sembrados:: {{authentication.user.sembrados}}</h3>
        <round-progress
            max="[authentication.user.totalTrees]"
            current="2"
            color="#45ccce"
            bgcolor="#eaeaea"
            radius="100"
            stroke="20"
            semi="false"
            rounded="true"
            clockwise="false"
            responsive="false"
            duration="800"
            animation="easeInOutQuart"
            animation-delay="0">
        </round-progress>
    </span>
    </div>
    <!--<div hide-xs>
        <img class="jaguar" src="jaguar.png" alt="">
    </div>-->
</div>