<toolbar></toolbar>
<div ng-controller="ExampleController" class="content-padding" layout="row" layout-align="center center">
<div layout="column">
    <div layout="column" class="info">
        <section layout="row">
            <img class="avatar" src="{{authentication.user.providerData.picture}}" alt="">
            <div>
                <h2 class="ini_name info-name"> <span ng-bind="authentication.user.firstName"></span></h2>
                <h4 class="info-uname"> <span  ng-bind="authentication.user.username"></span></h4>
            </div>
        </section>
        <md-button class="experiencia md-raised md-accent md-hue-2" ng-href="/#!/articles/edit/{{authentication.user._id}}">
            <i class="fa fa-paw" aria-hidden="true"></i> Mi Huella
        </md-button>
    </div>

    <div layout="column">
        <round-progress
            max="data"
            current="current"
            color="#009688"
            bgcolor="#eaeaea"
            radius="100"
            stroke="20"
            semi="false"
            rounded="true"
            clockwise="false"
            responsive="false"
            duration="800"
            animation="easeInOutQuart"
            animation-delay="0">
        </round-progress>
        <div class="totalTrees">
            <h1><i class="fa fa-pagelines" aria-hidden="true"></i> {{authentication.user.totalTrees}}</h1><p class="text-a"> Árboles</p>
        </div>
        <span></span>
        <div class="sembrados">
            <h3><i class="fa fa-pagelines" aria-hidden="true"></i> Sembrados:: {{authentication.user.sembrados}}</h3>
        </div>
    </div>
</div> 

    <!--<div hide-xs>
        <img class="jaguar" src="jaguar.png" alt="">
    </div>-->
</div>