<section class="footer  profile-footer-fixed" layout="row">
  <div class="md-toolbar-tools">
    <span flex></span>
    <div>Bosques para Volar::</div>
    
    <div layout-margin>
      <a href="#!/"><md-button class="md-icon-button" aria-label="More"> <i class="fa fa-binoculars fa-lg" aria-hidden="true" ></i></md-button></a>
    </div>
    <div layout-margin>
      <a href="#!/"><md-button class="md-icon-button" aria-label="More"> <i class="fa fa-envira fa-lg" aria-hidden="true"></i></md-button></a>
    </div>
    <span flex></span>
 </div>
</section>