<section>
    <md-card>
        <md-card-title>
            <md-card-title-text>
            <span class="md-headline">{{authentication.user.firstName}}</span>
            <span class="md-subhead">Small</span>
            </md-card-title-text> 
            <md-card-title-media>
            <div class="md-media-sm card-media avatar"><img src="{{authentication.user.providerData.picture}}" alt=""></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button><h2><i class="fa fa-pagelines" aria-hidden="true"></i> {{authentication.user.totalTrees}} Árboles</h2></md-button>
            <md-button>Action 2</md-button>
        </md-card-actions>
    </md-card>
</section>